p{
    background-color: rgb(7, 255, 69);
    color: rgb(0, 0, 0); 
    font-size: 20px;
} 
body{
    background-color: rgb(55, 48, 134);
    color: chartreuse;
    font-size: 15px;
}
a{
    color: rgb(255, 153, 0);  
}
